*{
	box-sizing: border-box;
	margin 	: 1px;
	text-align: center;
}

body{
	margin: 0;
	padding: 0;
}

.container {
	width: 1000px;
	margin: auto;
	border: 1px solid red;
}

/*Header*/

.header {
	border: 1px solid black;
	height: auto;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
}

.logo-area {
	height: 90px;
	width: 90px;
	border: 1px solid green;
}

.nav-area {
	height: 90px;
	width: 350px;
	border: 1px solid blue;
}

/*Banner*/

.banner {
	border: 1px solid black;
	height: auto;
}

.banner-wrapper {
	display: flex;
	justify-content: space-between;
}

.banner-text-area {
	height: 500px;
	width: 50%;
	border: 1px solid blue;
}

.banner-image-area {
	height: 500px;
	width: 50%;
	border: 1px solid green;
}

/*About*/

.about {
	height: auto;
	border: 1px solid black;
}

.about-wrapper {
	display: flex;
	justify-content: space-between;
}

.about-text-area {
	height: 400px;
	width: 50%;
	border: 1px solid blue;
}

.about-image-area {
	height: 400px;
	width: 50%;
	border: 1px solid green;
}

/*Statistics*/

.statistics {
	height: auto;
	border: 1px solid black;
}

.statistics-wrapper {
	display: flex;
	justify-content: space-around;

}

.statistics-items {
	width: 25%;
	height: 250px;
	border: 1px solid blue;
}

/*Services*/

.services {
	height: auto;
	border: 1px solid black;
}

.services-heading-area{
	height: 280px;
	border: 1px solid green;
}

.services-cards-area{
	height: auto;
	border: 1px solid blue;
}

.services-cards-wrapper{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.services-cards{
	width: 33.33%;
	height: 400px;
	border: 1px solid brown;
}

/*Features*/

.features{
	height: 1000px;
	border: 1px solid black;
}

.features-heading-area{
	height: 280px;
	border: 1px solid green;
}

.features-content-area{
	height: 700px;
	border: 1px solid brown;
}

.features-content-wrapper{
	display: flex;
	justify-content: space-between;
}

.features-content-text-area{
	width: 50%;
	height: 480px;
	border: 1px solid green;
}

.features-content-image-area{
	width: 50%;	
	height: 630px;
	border: 1px solid blue;
}

